[package]
name = "moonlight-bridge"
version = "0.1.0"
edition = "2021"

[dependencies]
wasmtime = "14.0"
anyhow = "1.0"
log = "0.4"
env_logger = "0.10"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'
opt-level = 3
